<div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">SPK-TOPSIS</h3>
                        <form action="<%= RouterDictionary.LOGIN %>" method="post">
                        <div class="form-outline mb-3">
                            <input type="text" id="<%= WebVariableDictionary.USERNAME %>" name="<%= WebVariableDictionary.USERNAME %>" class="form-control form-control-lg" placeholder="Username"   required/>
                        </div>
                        <div class="form-outline mb-3">
                            <input type="password" id="<%= WebVariableDictionary.PASSWORD %>" name="<%= WebVariableDictionary.PASSWORD %>" class="form-control form-control-lg" placeholder="Password" required/>
                        </div>
                        <br>
                        <button class="btn custom-btn-login" type="submit">Login</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>