<nav class="navbar navbar-dark navbar-expand-lg navbar-custom navbar-text sticky-top">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">TOPSIS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="<%= RouterDictionary.HOME %>">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= RouterDictionary.EMPLOYEE_CREATE %>">Input Karyawan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= RouterDictionary.MATRIX_SCORE_SHOW %>">Perhitungan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= RouterDictionary.CRITERIA_SHOW %>">Criteria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= RouterDictionary.EMPLOYEE_SHOW %>">Karyawan</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
<script src="/js/navbar.js"></script>